//*-------------footer----------------------------------------------------------------
.footer {
    min-height: 85px;
    &__body {
        padding: 33px 0px 30px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__text {
        font-size: 12px;
        line-height: 183%;
        >*{
            display: inline-block;
            &:not(:last-child){
                margin: 0px 2px 0px 0px;
            }
        }
    }

    &__link {
        color:#000;
        &:hover{
            text-decoration: underline;
        }
    }
}
