.logo{
    font-size: 33px;
        line-height: 121%;
        font-family: 'Pacifico';
        a{
            color: #000;
        }
}
.underline{
    &:hover{
        transition: all 0.3s ease 0s;
        color: #AC1313;
        &::before{
            width: 100%;
        }
    }
    position: relative;
    &::before{
    content:'';
    transition: all 0.5s ease 0s;
    position: absolute;
    background: #AC1313;
    width:0%;
    height:1px;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    }
}
.title{
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    line-height: 125%;
    color:#000;
}
.and{
    font-family: 'Playfair Display', serif;
    font-size: 68px;
    color: #AC1313;
    font-weight: 400;
}
.text{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    line-height: 171%;
    color:#6C6C6C;
    &_u{
        text-decoration-line: underline;
        color: #AC1313;
    }
}  
.button{
    font-weight: 700;
    display: inline-block;
    overflow: hidden;
    font-size: 12px;
    line-height: 62px;
    height: 62px;
    padding: 0px 31px 0px 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #AC1313;
    position: relative;
    span{
        position: relative;
        z-index: 5;
    }
    &::before{
    content:'';
    transition: all 0.4s ease 0s;
    position: absolute;
    width:0;
    height:100%;
    top:0;
    left:50%;
    background: #A21010;
    }
    &:hover{
        &::before{
            left: 0;
            width: 100%;
        }
    }
}
.category{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 171%;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #D77474;
}
.rotate{
    font-family: 'Poppins', sans-serif;
    position:absolute;
    transform: rotate(180deg);
    z-index: -2;
    writing-mode:vertical-rl;
    color: #DBDBDB;
    font-size: 18px;
    line-height: 189%;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.line{
  position: absolute;
  background: #EBEBEB;
  width:100%;
  height:1px;
  bottom:0;
  left:0;
}